span.bubble {
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    animation: grow 1s linear infinite;
}

@keyframes grow {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    top: 50%;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}